*{
 margin: 0;
 padding: 0;
}
.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: darkslategrey;
  

}
.box{
    height: auto;
    width: auto;
      padding: 10px;
    margin: 10px;
    background-color: darkslategrey;
    border: 1px solid black;
}
h3{
    margin: 20px;
}
